<div class="header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-dark d-inline-block mb-0">Audit</h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-dark py-2">
                    <h4 class="m-0 text-white">Sistem Penarafan Bintang (SSR)</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                            <fusioncharts
                            [width]="width"
                            [height]="height"
                            [type]="type"
                            [dataFormat]="dataFormat"
                            [dataSource]="dataSource"
                          >
                          </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-dark py-2">
                    <h4 class="m-0 text-white">Ekosistem Kondusif Sektor Awam (EKSA)</h4>
                </div>
                <div class="card-body">
                        <div class="chart">
                                <fusioncharts
                                [width]="width"
                                [height]="height"
                                [type]="type"
                                [dataFormat]="dataFormat"
                                [dataSource]="dataSource"
                              >
                              </fusioncharts>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-dark py-2">
                    <h4 class="m-0 text-white">Keselamatan dan Kesihatan Pekerjaan (OSH)</h4>
                </div>
                <div class="card-body">
                        <div class="chart">
                                <fusioncharts
                                [width]="width"
                                [height]="height"
                                [type]="type"
                                [dataFormat]="dataFormat"
                                [dataSource]="dataSource"
                              >
                              </fusioncharts>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-dark py-2">
                    <h4 class="m-0 text-white">Jabatan Siasatan Jenayah Komersial – Seksyen 420 KK</h4>
                </div>
                <div class="card-body">
                        <div class="chart">
                                <fusioncharts
                                [width]="width"
                                [height]="height"
                                [type]="type"
                                [dataFormat]="dataFormat"
                                [dataSource]="dataSource"
                              >
                              </fusioncharts>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>