<div class="header pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-dark d-inline-block mb-0">Report</h6>
  
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)"> <i class="fas fa-clipboard text-dark"> </i> </a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid mt--6">
      <div class="row">
          <div class="col-lg-4">
              <div class="row">
                  <div class="col">
                      <div class="card">
                          <div class="card-header bg-dark py-2">
                            <h4 class="m-0  text-white">Tool Laporan</h4>
                          </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col">
                                      <div class="form-group">
                                          <label class="form-control-label">
                                              Jenis
                                          </label>
                                          <select class="browser-default custom-select custom-select-alternative">
                                              <option selected>Sila pilih jenis</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <div class="form-group">
                                          <label class="form-control-label">
                                              Jangka Masa
                                          </label>
                                          <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                              </div>
                                              <input type="text" class="form-control" bsDaterangepicker [bsConfig]="{ isAnimated: true, containerClass: 'theme-red' }" ame="bsDaterangepicker">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <button type="button" class="btn btn-primary btn-lg btn-block mt-3 mb-3">Cari</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <div class="card">
                          <div class="card-body">
                              <div class="chart">
                                  <fusioncharts
                                      [width]="width"
                                      [height]="height"
                                      [type]="type3"
                                      [dataFormat]="dataFormat"
                                      [dataSource]="dataSource3"
                                  >
                                  </fusioncharts>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-8">
              <div class="row">
                  <div class="col">
                      <div class="card">
                          <div class="card-body">
                              <div class="chart">
                                  <fusioncharts
                                      [width]="width"
                                      [height]="height"
                                      [type]="type"
                                      [dataFormat]="dataFormat"
                                      [dataSource]="dataSource"
                                  >
                                  </fusioncharts>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card">
                          <div class="card-body">
                              <div class="chart">
                                  <fusioncharts
                                      [width]="width"
                                      [height]="height"
                                      [type]="type2"
                                      [dataFormat]="dataFormat"
                                      [dataSource]="dataSource2"
                                  >
                                  </fusioncharts>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <div class="card">
                          <div class="card-header bg-dark py-2">
                            <h4 class="m-0  text-white">Audit Trail</h4>
                          </div>
                          <div class="card-body p-0">
                              <div class="table-responsive">
                                  <table class="table align-items-center table-flush">
                                      <thead class="thead-light">
                                          <tr>
                                              <th scope="col">Tarikh/Masa</th>
                                              <th scope="col">Nama</th>
                                              <th scope="col">Emel</th>
                                              <th scope="col">Aksi</th>
                                              <th scope="col">IP</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <th class="row">
                                                  23 July 2019 13:42
                                              </th>
                                              <td>Ahmad Afiq</td>
                                              <td>afiq@pdrm.com.my</td>
                                              <td><button type="button" class="btn btn-info btn-sm" disabled>Add</button></td>
                                              <td>209.184.90.0</td>
                                          </tr>
                                          <tr>
                                              <th class="row">
                                                  23 July 2019 13:42
                                              </th>
                                              <td>Ahmad Afiq</td>
                                              <td>afiq@pdrm.com.my</td>
                                              <td><button type="button" class="btn btn-warning btn-sm" disabled>Modify</button></td>
                                              <td>209.184.90.0</td>
                                          </tr>
                                          <tr>
                                              <th class="row">
                                                  23 July 2019 13:42
                                              </th>
                                              <td>Ahmad Afiq</td>
                                              <td>afiq@pdrm.com.my</td>
                                              <td><button type="button" class="btn btn-danger btn-sm" disabled>Delete</button></td>
                                              <td>209.184.90.0</td>
                                          </tr>
                                          <tr>
                                              <th class="row">
                                                  23 July 2019 13:42
                                              </th>
                                              <td>Ahmad Afiq</td>
                                              <td>afiq@pdrm.com.my</td>
                                              <td><button type="button" class="btn btn-info btn-sm" disabled>Add</button></td>
                                              <td>209.184.90.0</td>
                                          </tr>
                                          <tr>
                                              <th class="row">
                                                  23 July 2019 13:42
                                              </th>
                                              <td>Ahmad Afiq</td>
                                              <td>afiq@pdrm.com.my</td>
                                              <td><button type="button" class="btn btn-danger btn-sm" disabled>Delete</button></td>
                                              <td>209.184.90.0</td>
                                          </tr>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>