<router-outlet></router-outlet>
<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; {{ test | date: "yyyy" }}
          <!--<a
            href="https://pipeline.com.my"
            class="font-weight-bold ml-1"
            target="_blank"
            >Prototype</a
          >-->
        </div>
      </div>
    </div>
  </div>
</footer>
