<div class="header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-dark d-inline-block mb-0">Tools</h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class=" col-lg-6 col-5 text-right">
          <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>

          <a class=" btn btn-sm btn-neutral" href="javascript:void(0)">
            Filters
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body p-0">
          <mgl-map
            [style]="mapboxStyle"
            [zoom]="mapboxZoom"
            [center]="mapboxCenter"
            [pitch]="mapboxPitch"
            [bearing]="mapboxBearing"
            (load)="onLoad($event)"
          >
            <mgl-layer
              id="3d-buildings"
              source="composite"
              sourceLayer="building"
              [filter]="mapboxLayerFilter"
              type="fill-extrusion"
              [minzoom]="mapboxLayerMinZoom"
              [paint]="mapboxLayerPaint"
              [before]="labelLayerId"
            >
            </mgl-layer>
          </mgl-map>
        </div>
      </div>
    </div>
  </div>
</div>