<div class=" header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Administrator</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" container-fluid mt--6">

  <div class=" row">
    <div class=" col-xl-8">
      <div class=" card">
        <div class=" card-header border-0 bg-dark py-2">
          <div class=" row align-items-center">
            <div class=" col"><h3 class=" mb-0 text-white">Senarai Pengguna</h3></div>

            <div class=" col text-right">
              <a class=" btn btn-sm btn-primary" href="javascript:void(0)">
                Lihat semua
              </a>
            </div>
          </div>
        </div>

        <div class=" table-responsive">
          <table class=" table align-items-center table-flush">
            <thead class=" thead-light">
              <tr>
                <th scope="col">ID</th>

                <th scope="col">Nama</th>

                <th scope="col">Email</th>

                <th scope="col">Klasifikasi</th>

                <th scope="col">Tarikh Aktif</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let data of loadedData">
                <th scope="row">{{data.id}}</th>

                <td>{{data.name}}</td>

                <td>{{data.email}}</td>

                <td>
                  {{data.role}}
                </td>

                <td>
                  {{data.date}}
                </td>
              </tr>

              
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class=" col-xl-4">
      <div class=" card">
        <div class=" card-header border-0 bg-dark py-2">
          <div class=" row align-items-center">
            <div class=" col"><h3 class=" mb-0 text-white">Statistik Audit</h3></div>

            <div class=" col text-right">
              <a class=" btn btn-sm btn-primary" href="javascript:void(0)">
                Tukar
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-control-label" for="example3cols1Input">
                        ID Pengguna
                        </label>
            
                        <input
                        class="form-control bg-secondary text-dark"
                        placeholder="ID pengguna"
                        type="text"
                        />
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="form-control-label" for="example3cols1Input">
                        Klasifikasi
                    </label>
                    <select class="browser-default custom-select bg-secondary">
                        <option selected>Sila pilih</option>
                        <option value="1">Projek 1</option>
                        <option value="2">Projek 2</option>
                        <option value="3">Projek 3</option>
                    </select>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header border-0 bg-dark py-2">
                    <div class=" row align-items-center">
                        <div class=" col"><h3 class=" mb-0 text-white">Pembahagian</h3></div>
            
                        <div class=" col text-right">
                            <a class=" btn btn-sm btn-primary" href="javascript:void(0)">
                                Tambah
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="example3cols1Input">
                                ID Pengguna
                                </label>
                    
                                <input
                                class="form-control bg-secondary text-dark"
                                placeholder="ID pengguna"
                                type="text"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="form-control-label" for="example3cols1Input">
                                Kerja
                            </label>
                            <select class="browser-default custom-select bg-secondary">
                                <option selected>Sila pilih</option>
                                <option value="1">Projek 1</option>
                                <option value="2">Projek 2</option>
                                <option value="3">Projek 3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header border-0 bg-dark py-2">
                    <div class=" row align-items-center">
                        <div class=" col"><h3 class=" mb-0 text-white">Pendaftaran</h3></div>
            
                        <div class=" col text-right">
                            <a class=" btn btn-sm btn-primary" href="javascript:void(0)">
                                Tambah
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="example3cols1Input">
                                Nama
                                </label>
                    
                                <input
                                class="form-control bg-secondary text-dark"
                                placeholder="Nama"
                                type="text"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="example3cols1Input">
                                Email
                                </label>
                    
                                <input
                                class="form-control bg-secondary text-dark"
                                placeholder="Email"
                                type="text"
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="example3cols1Input">
                                Password
                                </label>
                    
                                <input
                                class="form-control bg-secondary text-dark"
                                placeholder="Password"
                                type="text"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
