<mgl-map
    style="mapbox://styles/mapbox/dark-v9"
    [zoom]="[6.5]"
    [center]="[101.9758, 4.2105]"
>
    <ng-container *ngIf="earthquakes">
        <mgl-geojson-source
            id="earthquakes"
            [data]="earthquakes"
            [cluster]="true"
            [clusterMaxZoom]="15"
            [clusterRadius]="20"
        >
        </mgl-geojson-source>
        <mgl-layer
            *ngFor="let layer of clusterLayers"
            [id]="layer.id"
            type="circle"
            source="earthquakes"
            [filter]="layer.filter"
            [paint]="layer.paint"
            before="waterway-label"
        >
        </mgl-layer>
        <mgl-layer
            id="unclustered-point"
            type="circle"
            source="earthquakes"
            [filter]="['!=', 'cluster', true]"
            [paint]="{
            'circle-color': 'rgba(0,255,0,0.5)',
            'circle-radius': 20,
            'circle-blur': 1
            }"
            before="waterway-label"
        >
        </mgl-layer>
    </ng-container>
</mgl-map>