<div class="header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-dark d-inline-block mb-0">Scenario Two</h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-dark py-2">
                    <h4 class="m-0 text-white">Misi</h4>
                </div>
                <div class="card-body">
                    <h5>Misi program ini adalah seperti berikut.</h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-dark py-2">
                    <h4 class="m-0  text-white">Objektif</h4>
                </div>
                <div class="card-body">
                    <h5>Objektif program ini adalah seperti berikut.</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-dark py-2">
                    <h4 class="m-0 text-white">Keberhasilan Strategik</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <fusioncharts
                            [width]="width"
                            [height]="height"
                            [type]="type"
                            [dataFormat]="dataFormat"
                            [dataSource]="dataSource"
                        >
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-dark py-2">
                    <h4 class="m-0  text-white">Teras Strategik</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                            <fusioncharts
                            [width]="width"
                            [height]="height"
                            [type]="typeOne"
                            [dataFormat]="dataFormat"
                            [dataSource]="dataSourceOne"
                          >
                          </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-dark py-2">
                    <h4 class="m-0 text-white">Pelan Tindakan</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="heading-small text-muted mb-1">Matlamat</h6>
                            <h6>Matlamat program ini adalah untuk meningkatkan prestasi.</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="heading-small text-muted mb-1">Outcome</h6>
                            <h6>Outcome program ini adalah seperti carta-carta dibawah.</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="heading-small text-muted mb-1">Langkah Strategik</h6>
                            <h6>Langkah strategik adalah seperti berikut.</h6>
                            
                        </div>
                        <div class="col-6">
                            <h6 class="heading-small text-muted mb-1">Program/Projek</h6>
                            <h6>Program Meningkatkan Prestasi</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="heading-small text-muted mb-1">Tahun Pelaksanaan</h6>
                            <h6>2019</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="heading-small text-muted mb-1">KPI Projek</h6>
                            <h6>KPI program adalah seperti berikut.</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="heading-small text-muted mb-1">Sasaran</h6>
                            <h6>Sasaran adalah kepada staf.</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="heading-small text-muted mb-1">Pengurus Projek</h6>
                            <h6>Nurul Aiman binti Nordin</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-dark py-2">
                    <h4 class="m-0 text-white">Pelaporan Kemajuan dan Pencapaian Pelan Strategik PDRM</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <fusioncharts
                            [width]="width"
                            [height]="height"
                            [type]="typeTwo"
                            [dataFormat]="dataFormat"
                            [dataSource]="dataSourceTwo"
                        >
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-dark py-2">
                    <h4 class="m-0 text-white">Carta Perbatuan (Gantt Chart)</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <fusioncharts
                            [width]="width"
                            [height]="height"
                            [type]="typeThree"
                            [dataFormat]="dataFormat"
                            [dataSource]="dataSourceThree"
                        >
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>