mgl-map {
    height: 100vh;
    width: 100%;
}

canvas.mapboxgl-canvas {
    width: 100% !important;
}

.marker-cluster {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4f615a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid #56C498;
  }
  
  .marker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #7d7d7d;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #C9C9C9
  }
  